.banners {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 20px;
  min-height: 300px;
  background-color: #E7EFFF;
  border-radius: 12px;
  padding: 32px;
}

.banners__main-content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.banners__wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
}

.banners--card {
  background: #476BF0;
  color: #FFFFFF;
}

.banners--mortgage {
  background: #CFF6E7;
}

.banners--benefits {
  background: #C4E7FF;
}

.banners__credits-label {
  min-width: 66px;
  border: 1px solid rgba(30, 34, 46, 0.5);
  border-radius: 4px;
  color: rgba(30, 34, 46, 0.5);
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  padding: 5px 9px;
  text-align: center;
  text-transform: uppercase;
}

.banners--card .banners__credits-label {
  border-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

.banners__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.banners__text {
  font-size: 15px;
  line-height: 22px;
}

.banners__link {
  padding: 10px 30px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  background-color: #476BF0;
  border-radius: 8px;
  text-align: center;
  margin-top: auto;
}

.banners--card .banners__link {
  color: #476BF0;
  background-color: #FFFFFF;
}

.banners__img {
  width: 280px;
  height: 180px;
}

.banners--sm {
  min-height: 400px;
  text-align: center;
  align-items: center;
  padding: 32px 20px 20px;
}

.banners--sm .banners__main-content {
  flex-direction: column;
  align-items: center;
}

.banners--sm .banners__wrapper {
  align-items: center;
  gap: 8px;
}

.banners--sm .banners__title {
  font-size: 20px;
  line-height: 24px;
}

.banners--sm .banners__text {
  font-size: 14px;
  line-height: 20px;
}

.banners--sm .banners__img {
  width: 210px;
  height: 135px;
  margin-top: auto;
}